NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGci...
NEXT_PUBLIC_API_URL=https://api.flixhome.com.br
NEXT_PUBLIC_CDN_URL=https://cineflix.victorlima0978.workers.dev
